

.asiento-disponible {
    color: green !important;
    font-size: 60px !important;
    white-space: pre-line !important;
}

.asiento-convencional {
    color: brown !important;
    font-size: 60px !important;
    white-space: pre-line !important;
}


.divAsientoDefinicion {
    float: left !important;
    margin-left: 3px !important;
}

div.show-image {
    position: relative;
    /*width: 120px !important;*/
    height: 85px !important;
}

.referencia-asiento {
    margin-top: -20px;
    color: black !important;
    font-weight: bold;
    /*z-index: 1000;*/
    z-index: 999;
    position: relative;
}