@media print {
    .print {
        display: block !important;
        position: absolute;
        left: 0;
        top: 0;
    }

    .noPrint {
        display: none !important;
    }

    .alert  {
        display: none !important;
    }
    
}

